{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}

{% if paniers is not empty %}
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead >
                <tr>
                    <th scope="col">{% trans from "message" %}Nom{% endtrans %}</th>
                    <th scope="col">{% trans from "message" %}Quantité commandée{% endtrans %}</th>
                    <th scope="col">{% trans from "message" %}Montant{% endtrans %}</th>
                    <th scope="col">{% trans from "message" %}Suppression produit{% endtrans %}</th>
                    <th></th>

                </tr>

                </thead>

                <tbody>

                {% for panier in paniers %}
                    <tr>
                        <th scope="row">{{ panier.produit.nom }}</th>
                        <td>{{ panier.quantite }}</td>
                        <td>{{ montant }}</td>
                        <td><a href="{{path("remove", {id: panier.id})}}"><button value="{{ panier.id}}" type="button" class="btn btn-danger">{% trans from "message" %}Supprimer{% endtrans %}</button></a></td>
                        <td>{% trans from "message" %}ajouté le {% endtrans %} {{ panier.dateajout|date('d/m/y') }}</td>

                    </tr>

                {% endfor %}



                </tbody>
            </table>
            <button type="button" class="btn btn-info btn-rounded ">{{ paniers|length }} {% trans from "message" %}produits dans le panier{% endtrans %}</button>


        </div>

        <div class="col-4">

        </div>
    </div>
</div>
    {% else %}
<div class="container mt-5">

    <p>{% trans from "message" %}Il n'y a pas encore de produits dans le panier{% endtrans %}</p>
    <a href="{{ path('produits') }}"><button  type="button" class="btn btn-primary">{% trans from "message" %}Voir les Produits{% endtrans %}</button></a>

</div>
    {% endif %}

{% endblock %}
