{% extends 'base.html.twig' %}


{% block title %}Produits{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            {% if produits is not empty %}
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">{% trans from "message" %}Photo{% endtrans %}</th>
                        <th scope="col">{% trans from "message" %}Nom{% endtrans %}</th>
                        <th scope="col">{% trans from "message" %}Quantité{% endtrans %}</th>
                        <th scope="col">{% trans from "message" %}Prix{% endtrans %}</th>
                        <th scope="col">{% trans from "message" %}Fiche Produit{% endtrans %}</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for produit in produits %}
                        <tr>
                            <th scope="row"> <img src="{{ asset('assets/images/' ~ produit.photo) }}"/> </th>
                            <td>{{ produit.nom }}</td>
                            <td>{{ produit.quantite }}</td>
                            <td>{{ produit.prix|number_format(2, '.', ',') }} €</td>
                            <td><a href="{{ path('ficheProduit', {id: produit.id}) }}"><button value="{{ produit.id}}" type="button" class="btn btn-info">{% trans from "message" %}Voir{% endtrans %}</button></a></td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                {% else %}
                <p>{% trans from "message" %}Il n'y a aucun produit enregistré{% endtrans %}</p>
            {% endif %}

        </div>
        <div class="col-4">
            {{ form_start(formProduits) }}
            {{ form_row(formProduits.nom, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(formProduits.photo, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(formProduits.quantite, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(formProduits.prix, {'attr': {'class': 'form-control'}}) }}
            {{form_end(formProduits)  }}
        </div>
    </div>
</div>
{% endblock %}
